{% extends 'base.html.twig' %}

{% block title %}Auteurs
{% endblock %}

{% block body %}
	<h1>Liste des auteurs</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Firstname</th>
				<th>Lastname</th>
				<th>Birthday</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for author in authors %}
				<tr>
					<td>{{ author.id }}</td>
					<td>{{ author.firstname }}</td>
					<td>{{ author.lastname }}</td>
					<td>{{ author.birthday ? author.birthday|date('Y-m-d') : '' }}</td>
					<td>
						<a href="{{ path('app_author_show', {'id': author.id}) }}">show</a>
						{% if is_granted('ROLE_ADMIN') %}
							<a href="{{ path('app_author_edit', {'id': author.id}) }}">edit</a>
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if is_granted('ROLE_ADMIN') %}
		<a href="{{ path('app_author_new') }}">Create new</a>
	{% endif %}
{% endblock %}
