{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<form method="post">
		<div class="login-container">
			<div class="login-image"></div>
			<div class="login-form">
				<h2>Connexion</h2>
				<form method="post">
					{% if app.user %}
						<div class="mb-3">
							Vous êtes connecté en tant que
							{{ app.user.userIdentifier }},
							<a href="{{ path('app_logout') }}">Déconnexion</a>
						</div>
					{% endif %}

					<div class="form-field">
						<div class="input-container">
							<input type="text" value="{{ last_username }}" name="_username" id="username" autocomplete="email" required autofocus/>
							<label for="username" class="form-label">
								<span class="icon-user-circle"></span>Email</label>
						</div>
					</div>

					<div class="form-field">
						<div class="input-container">
							<input type="password" name="_password" id="password" autocomplete="current-password" required/>
							<label for="password" class="form-label">
								<span class="icon-password-unlocked"></span>Mot de passe</label>
						</div>
					</div>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<button type="submit" class="logout-btn">
						<span class="icon-login"></span>Se connecter</button>
				</form>
				<a href="{{ path('app_register') }}">Pas de compte ? S'inscrire</a>
			</div>
		</div>
		{#
																		Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
																		See https://symfony.com/doc/current/security/remember_me.html
																	
																		<div class="checkbox mb-3">
																				<input type="checkbox" name="_remember_me" id="_remember_me">
																				<label for="_remember_me">Remember me</label>
																		</div> #}
	{% endblock %}
