{% extends 'base.html.twig' %}
{% block title %}Biblio Tech
{% endblock %}


{# Connected users but not admin #}
{% block body %}
	{% if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
		<div class="home-header-container">
			<div class="home-banner-image"></div>
			<div>
				<h2>Découvrez tous nos livres et bien plus encore !</h2>
				<p>Explorez notre vaste collection de livres, accédez à des ressources numériques, et plongez dans un univers dédié à la lecture, la culture et le savoir.</p>
			</div>
		</div>
	{% endif %}

	<h1>Bienvenue,
		{{ app.user.email }}</h1>


	<h2>Accès rapide</h2>
	<div>
		<a href="{{ path('app_book_index') }}">
			<div>
				Consulter tous les livres
			</div>
		</a>
		<a href="{{ path('app_author_index') }}">
			<div>
				Consulter tous les auteurs
			</div>
		</a>
		<a href="{{ path('app_category_index') }}">
			<div>
				Consulter toutes les catégories
			</div>
		</a>

		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('app_book_new') }}">
				<div>
					Ajouter un livre
				</div>
			</a>
			<a href="{{ path('app_author_new') }}">
				<div>
					Ajouter un auteur
				</div>
			</a>
			<a href="{{ path('app_category_new') }}">
				<div>
					Ajouter une catégorie
				</div>
			</a>
		{% endif %}
	</div>

	<h2>Derniers livres ajoutés</h2>
	<div class="book-list-container">
		{% for book in books %}
			<div class="book-card">
				<a href="{{ path('app_book_show', {'id': book.id}) }}">
					<img src="{{ asset('uploads/images/' ~ book.image) }}" alt="{{ book.title }}" style="max-width: 100px;">
					<h3>{{ book.title }}</h3>
					<p>{{ book.desciption }}</p>
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}
