{{ form_start(form, {'attr': {'class': 'book-form'}}) }}

<div class="book-form-row">
	<div class="book-form-col">
		<div class="image-upload">
			<div style="text-align:center;">
				<label for="{{ form.image.vars.id }}">
					<i class="icon-gallery-upload"></i>
					{{ add_update|default('Ajouter') }}
					l'image du livre
				</label>
				<p>Format JPEG, PNG jusqu'à 50MB.</p>
			</div>
			<img class="image-preview" src="{{ src_img|default('#') }}" alt="Prévisualisation de l'image"/>
			{{ form_widget(form.image, {'attr': {'class': 'form-control-file', 'style': 'visibility:hidden;', 'onchange': 'previewImage(event)'}}) }}
			<button type="button" class="base-btn" onclick="document.getElementById('{{ form.image.vars.id }}').click()">Charger un fichier</button>
		</div>
	</div>
	<div class="book-form-col">
		<div class="form-group">
			{{ form_label(form.title) }}
			{{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
		</div>

		<div class="form-group">
			{{ form_label(form.authors) }}
			<p>Choisissez un ou plusieurs auteurs.</p>
			{{ form_widget(form.authors, {'attr': {'class': 'form-control'}}) }}
		</div>

		<div class="form-group">
			{{ form_label(form.desciption) }}
			{{ form_widget(form.desciption, {'attr': {'class': 'form-control'}}) }}
		</div>

		<div class="form-group">
			{{ form_label(form.publicationYear) }}
			{{ form_widget(form.publicationYear, {'attr': {'class': 'form-control'}}) }}
		</div>

		<div class="form-group">
			{{ form_label(form.isbn) }}
			{{ form_widget(form.isbn, {'attr': {'class': 'form-control'}}) }}
		</div>

		<div class="form-group">
			<label>Catégories</label>
			<div class="pill-container">
				{% for category in form.categories %}
					<label class="pill">
						{{ form_widget(category) }}
						{{ category.vars.label }}
					</label>
				{% endfor %}
			</div>
		</div>

		<div class="form-group">
			<label>Tags</label>
			<div class="pill-container">
				{% for tag in form.tags %}
					<label class="pill">
						{{ form_widget(tag) }}
						{{ tag.vars.label }}
					</label>
				{% endfor %}
			</div>
		</div>

		<div class="form-group">
			<label>Langues</label>
			<div class="pill-container">
				{% for language in form.languages %}
					<label class="pill">
						{{ form_widget(language) }}
						{{ language.vars.label }}
					</label>
				{% endfor %}
			</div>
		</div>
	</div>
</div>


<div class="button-group">
	<a href="{{ path('app_book_index') }}" class="back-btn">{{ back_button_label|default('Annuler') }}</a>
	<button type="submit" class="add-btn">
		<span class="icon-paper-plane"></span>
		{{ add_button_label|default('Publier') }}
	</button>
	{{ form_end(form) }}
	{% if show_delete_button %}
		{{ include('book/_delete_form.html.twig', {'book': book, 'del_button_label': del_button_label|default('Supprimer')}) }}
	{% endif %}
</div>

 <script>
	function previewImage(event) {
const input = event.target;
const preview = document.querySelector('.image-preview');
if (input.files && input.files[0]) {
const reader = new FileReader();
reader.onload = function (e) {
preview.src = e.target.result;
preview.style.display = 'block';
};
reader.readAsDataURL(input.files[0]);
}
}

document.querySelectorAll('.pill input[type="checkbox"]').forEach((checkbox) => {
checkbox.addEventListener('change', (event) => {
const pill = event.target.closest('.pill');
if (event.target.checked) {
pill.classList.add('selected');
} else {
pill.classList.remove('selected');
}
});
});
</script>
